* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: verdana, sans-serif;
    font-weight: bold;
    background: #FE6E00;
    height: 12vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-list li:hover {
    color: black;
    transition: 10ms;
    cursor: pointer;
}

.container-video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-video video {
    position: fixed;
    top: 87px;
    left: 0px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-login {
    margin-top: 20vh;
    border: 3px solid #FE6E00;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    background-color: white;
}

.container-login form{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-login form label {
    display: flex;
    flex-direction: column;
}

.container-login form label span {
    font-size: 30px;
    margin-top: 15px;
}

.container-login form label input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    padding: 0 10px;
    margin-top: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

#entrar {
    cursor: pointer;
    margin-top: 30px;
    width: 12vw;
    border: 1px solid black;
    border-radius: 32px;
    background-color: white;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

#entrar:hover {
    background-color: #FE6E00;
    transition: all .3s ease-in-out;
}

#cadastro {
    cursor: pointer;
    margin-top: 10px;
    width: 12vw;
    border: 1px solid black;
    border-radius: 32px;
    background-color: white;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

#cadastro:hover {
    background-color: #FE6E00;
    transition: all .3s ease-in-out;
}